<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="sources/favico.ico" type="image/x-icon">
    <title>MÉV</title>
</head>
<body>
<%- include('header') %>
<div class="listing-wrapper">
    <form action="/listing" method="post">
        <label>
            <input type="text" id="myInput" name="myInput" placeholder="Where do you want to go?">
        </label>
        <label for="busz">Bus</label><input type="checkbox" id="busz" name="busz">
        <label for="vonat">Train</label><input type="checkbox" id="vonat" name="vonat">
        <label for="repulo">Plane</label><input type="checkbox" id="repulo" name="repulo">
        <button type="submit">Click to Search or press enter</button>
    </form>
</div>

<%if (lista !== ""){%>
<div class="table-wrapper">
    <table id="flightList">
        <thead>
        <tr>
            <th>Source</th>
            <th>Destination</th>
            <th>Date</th>
            <th>Time</th>
            <th>Vehicle</th>
        </tr>
        </thead>
        <tbody>
    <% lista.forEach(sor=>{
        splitter = new Date(sor.datum).toISOString().split("T")%>

    <tr>
        <td><%= sor.honnan %></td>
        <td><%= sor.hova %></td>
        <td><%= splitter[0] %></td>
        <td><%= sor.idopont %></td>
        <td><%= sor.tipus %></td>
    </tr>

    <%})%>
        </tbody>
    </table>
</div>
<%}%>

<%- include('footer') %>
</body>
</html>
