<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="sources/favico.ico" type="image/x-icon">
    <title>MÉV</title>
</head>
<body>
<%- include('header') %>
<%if(typeof sork !== 'undefined'){%>
    <h2 class="error-message">Best-selling tickets</h2>
    <table id="otherList">
        <thead>
        <tr>
            <th>Source</th>
            <th>Destination</th>
            <th>Date</th>
            <th>Time</th>
            <th>Vehicle</th>
            <th>Tickets sold</th>

        </tr>
        </thead>
        <tbody>
        <% sork.forEach(sor=>{
            splitter = new Date(sor.datum).toISOString().split("T")%>

        <tr>
            <td><%= sor.honnan %></td>
            <td><%= sor.hova %></td>
            <td><%= splitter[0] %></td>
            <td><%= sor.idopont %></td>
            <td><%= sor.tipus %></td>
            <td><%= sor.eladott %></td>
        </tr>
        <%})%>
        </tbody>
    </table>
        <%}%>
<hr>
<h2>Where do you want to go?</h2>
<div class="listing-wrapper">
    <form action="/listing" method="post" class="middle">
        <label>
            <input type="text" class="myInput" name="from" placeholder="From">
        </label>
        <label>
            <input type="text" class="myInput" name="to" placeholder="To">
        </label>
        <label for="bus">Bus</label><input type="checkbox" id="bus" name="bus">
        <label for="train">Train</label><input type="checkbox" id="train" name="train">
        <label for="airplane">Plane</label><input type="checkbox" id="airplane" name="airplane">
        <button type="submit">Click to Search or press enter</button>
    </form>
</div>

<div class="table-wrapper">
    <table id="List">
        <thead>
        <tr>
            <th>Source</th>
            <th>Destination</th>
            <th>Stations between</th>
            <th>Date</th>
            <th>Time</th>
            <th>Vehicle</th>
            <th>Avaliable tickets</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
    <% lista.forEach(sor=>{
        splitter = new Date(sor.datum).toISOString().split("T")%>

    <tr>
        <td><%= sor.honnan %></td>
        <td><%= sor.hova %></td>
        <td><%= sor.honnan %>, <%= sor.hova %></td>
        <td><%= splitter[0] %></td>
        <td><%= sor.idopont %></td>
        <td><%= sor.tipus %></td>
        <td><%= sor.elerheto_db %></td>
        <td><%= sor.ar %>FT/db</td>
    </tr>

    <%})%>
        </tbody>
    </table>
</div>
<%if (typeof uzi !== 'undefined'){%>
    <div class="error-message"><%= uzi%></div>
<%}%>


<%- include('footer') %>
</body>
</html>
