<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="sources/favico.ico" type="image/x-icon">
    <title>MÉV</title>
</head>
<body>
<header id="header">
    <nav>
        <a href="/userprof">User Things</a>
        <a href="/tickets">Tickets</a>
        <a href="/flightList">Flights</a>
        <%if (szerep === "admin"){%>
            <a href="/users">Users</a>
            <a href="/flightModerate">Moderate Flights</a>
        <%}%>
        <form action="/logout?_method=DELETE" method="post">
            <button type="submit" aria-current="page" id="logout">LogOut</button>
        </form>
    </nav>
</header>
<%if (typeof uzi !== "undefined"){%>
    <div class="success-message">
        <%= uzi%>
    </div>
<%}%>
<% if (lista.length > 0){%>
    <%if (typeof otherUserView === 'undefined'){%>
    <h2>Your tickets: </h2>
    <%}else{%>
        <h2 class="error-message"><%= guy%>'s tickets: </h2>
        <%}%>
<div class="table-wrapper">
    <table id="List">
        <thead>
        <tr>
            <th>Source</th>
            <th>Destination</th>
            <th>Date</th>
            <th>Time</th>
            <th>Vehicle</th>
            <th>Number of tickets</th>
            <%if (typeof otherUserView !== 'undefined'){%>
                <th>Button for removal</th>
            <%}%>
        </tr>
        </thead>
        <tbody>
        <%
        lista.forEach(sor=>{
            splitter = new Date(sor.datum).toISOString().split("T")%>
        <tr>
            <td><%= sor.honnan %></td>
            <td><%= sor.hova %></td>
            <td><%= splitter[0] %></td>
            <td><%= sor.idopont %></td>
            <td><%= sor.tipus %></td>
            <td><%= sor.db %></td>
            <%if (typeof otherUserView !== 'undefined'){%>
                <th>
                    <form action="/removeTicket<%= sor.azonosito %>T<%= guy%>T<%= sor.jegyazonosito%>T<%= sor.db%>" method="post">
                        <button type="submit">Remove ticket</button>
                    </form>
                </th>
            <%}%>
        </tr>
        <%})%>
        </tbody>
    </table>
</div>
<%}else {%>
<%if (typeof otherUserView !== 'undefined'){%>
    <div class="error-message"> This user possesses no tickets</div>
<%}else{%>
    <div class="error-message"> You don't have any tickets</div>
<%}%>

<%}%>
<%- include('footer') %>
</body>
</html>